.App{
  text-align: center;
  width: 100%;
  
}
.bodyTop {
  background: rgb(98, 174, 245);
  height: 100px;
  width: 45%;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  
}

.bodyTop input {
  height: 20px;
  margin-inline-start: 5px;

}
.bodyTop button {
  margin-inline-start: 5px;
  height: 26px;
  border-radius: 4px;
  font-weight: bold;
}

.upperDir{
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  
} 
.upperDir input {
  margin-inline-start: 10px;

}

.upperDir p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.lowerDir{
    height: 100px;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    
} 

.lowerDir table {
  border: 1px solid;
}