.App {
  text-align: center;
  width: 100%;
}

.bodyTop {
  background: rgb(98,174,245);
  height: 100px;
  width: 45%;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  
}

.bodyTop input {
  height: 20px;
  margin-inline-start: 5px;

}
.bodyTop button {
  margin-inline-start: 5px;
  height: 26px;
  border-radius: 4px;
  font-weight: bold;
}

.directory .lowerDir{
    height: 100px;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    
} 

.lowerDir .tableDiv tr:nth-child(odd) {
  background-color: #fff;
}

.lowerDir .tableDiv tr:nth-child(even) {
  background-color: #f1f1f1;
}

.lowerDir .tableDiv tr {
  border-bottom: 1px solid #ddd;
}

.tableDiv th:first-child, .tableDiv td:first-child {
  padding-left: 16px;
}

.tableDiv td, th {
  width: 250px;
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  border: 2px solid black;
}

.tableDiv th {
  font-weight: bold;
}

.tableDiv {
  font-size: 16px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.App .test {

}